
div {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin: 5px 0;
  }
  

  p#id {
    color: #007bff; 
    font-weight: bold;
  }
  
  p#name {
    color: #333; 
  }
  
  p#phoneNumber {
    color: #28a745; 
  }
  
  p#emailId {
    color: #dc3545;
  }
  