
.home-container {
  text-align: center;
  margin-top: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.big-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; 
  color: #fff; 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.big-button:hover {
  background-color: #0056b3; 
}


.current-bill {
  background-color: #28a745;
}

.pending-bills {
  background-color: #dc3545; 
}
